body {
  background-color: white;
  color: black;
  text-align: center;
}

p,form,h1 {
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
}

button {
  text-align: center;
  margin: auto;
}

.center {
  margin: auto;
/*  width: 50%; */
  text-align: center;
}

h1.party {
  font-family: Verdana, Helvetica, sans-serif;
}
