body {
  background-color: white;
  color: black;
  text-align: center;
}

p,form,button {
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
}
h1.party {
  font-family: Verdana, Helvetica, sans-serif;
}
